mode "$apps" {
	bindsym f exec firefox, mode "default"
	bindsym r exec rider, mode "default"
	bindsym d exec datagrip, mode "default"
	bindsym v exec virt-manager, mode "default"
	bindsym w exec virt-manager --connect qemu:///system --show-domain-console win11, mode "default"

        # back to normal: Enter or Escape or $mod+a
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+a mode "default"
}
